.groupUpdate {
    flex: 1;
    margin: 3px;
    padding: 20px;
    flex-direction: row;
}

.update{
    text-align: center;
}

.update input{
    flex: 1;
    margin:3px;
}

.update button{
    align-self: center;
}

.InputFiltrado{
    align-items: flex-start;
}

.card {
    margin-bottom: 2rem;
}

.grupo {
    display: flex;
    flex-direction: row;

}

.DataTable{
    margin: 20px;
}